extends layout

block content
  .container.bg-light.col-md-2
    h2 Add Prisoner
    form(method='post', action='/api/prisoner')
      div.form-group
        label(for='ssn') Social Security Number
          input(type='text', name='ssn')#ssn.form-control
      div.form-group
        label(for='firstName') First Name
          input(type='text', name='firstName')#firstName.form-control
      div.form-group
        label(for='middleName') Middle Name
          input(type='text', name='middleName')#middleName.form-control
      div.form-group
        label(for='lastName') Last Name
          input(type='text', name='lastName')#lastName.form-control
      div.form-group
        label(for='crime') Crime Committed
          input(type='text', name='crime')#crime.form-control
      div.form-group
        label(for='admitDate') Date of Admission
          input(type='text', name='admitDate')#admitDate.form-control
      div.form-group
        label(for='releaseDate') Date of Release
          input(type='text', name='releaseDate')#releaseDate.form-control
      div.form-group
        input(type='submit')
